<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fluid.Core" version="2.2.15" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.1.1" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.1" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="NJsonSchema" version="10.9.0" />
  <package id="NJsonSchema.CodeGeneration" version="10.9.0" manuallyInstalled="true" />
  <package id="NJsonSchema.CodeGeneration.CSharp" version="10.9.0" manuallyInstalled="true" />
  <package id="Namotion.Reflection" version="2.1.2" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="Newtonsoft.Json.Schema" version="3.0.15" manuallyInstalled="true" />
  <package id="Parlot" version="0.0.23" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="5.0.1" />
  <package id="System.Text.Json" version="5.0.2" />
  <package id="TimeZoneConverter" version="3.5.0" />
</packages>