[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"


[project]
name = "oursin"
version = "0.4.4"
authors = [
  { name="Daniel Birman", email="danbirman@gmail.com" },
]
description = "Urchin - Universal Renderer Creating Helpful Images for Neuroscience Python API"
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  "python-socketio[client]",
  "numpy",
]

[project.urls]
"Homepage" = "https://virtualbrainlab.org/03_unity_neuro/01_urn_intro.html"
"Bug Tracker" = "https://github.com/VirtualBrainLab/Urchin/issues"